/* RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS STARTS HERE */

/* HEADER */

.header nav {
  background-color: #f4f4f4;
}

.header-menu li a {
  color: #6C63FF;
}

/* MAIN */

.main {
  background-color: #6C63FF;
  padding: 60px 0;
}

.main-texto {
  color: #fff;
  padding: 60px 0;
  font-family: 'Helvetica Neue', Arial, serif;
}

.main-texto h1 {
  font-size: 50px;
}

.main-texto h3 {
  font-size: 36px;
  padding-top: 100px;
  padding-bottom: 20px;
  font-weight: 100;
}

.main-texto h3 span {
  font-size: 50px;
  font-weight: 250;
}

.main-texto p {
  font-size: 21px !important;
}

.main-svg {}

/* ABOUT US */

/*.quem-somos {
  position: relative;
  overflow: visible;
  background-color: #6C63FF;
  z-index: -1;
  clip-path: polygon(100% 100%,
      0 0,
      0 calc(100% - 5vw),
      0 100%);
}*/




.quem-somos-top {
  color: #6C63FF;
  padding: 60px 0;
}

.quem-somos-top ul li {
  padding: 20px 0;
}

.quem-somos-slide {
  padding: 60px 0;
  color: #6C63FF;
}

/* WHAT WE DO */

/* PARTNERS */

/* FOOTER */